h4{
	color: blue;
	font-family: areal !important;
	line-height: 150%;
	text-align: center;
}
h4{
	background: yellow;
	font-family: times ;
}
h3{
	color:#0000ff;
	background-color:#b3b3b3;
}/*comments*/
p{
	text-align: justify;
	width: 50%;
}
table{
	background-color: yellow;
	font-size: 123%;
}
body{
	text-align: center;
	background-color: #44ccdd;
}